<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Minors List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add any CSS files or styles here -->
</head>
<body>
<h1>Minors List</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>CategoryId</th>
        <th>Title</th>
        <th>DifficultyRating</th>
        <th>InterestRating</th>
        <th>TimeConsumptionRating</th>
        <th>TotalRating</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="minor : ${minors}">
        <td th:text="${minor.id}">ID</td>
        <td th:text="${minor.categoryId}">CategoryId</td>
        <td th:text="${minor.title}">Title</td>
        <td th:text="${minor.difficultyRating}">DifficultyRating</td>
        <td th:text="${minor.interestRating}">InterestRating</td>
        <td th:text="${minor.timeConsumptionRating}">TimeConsumptionRating</td>
        <td th:text="${minor.totalRating}">TotalRating</td>
    </tr>
    </tbody>
</table>
</body>
</html>
