<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Сброс пароля</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h2>Reset password</h2>
    <form th:action="@{/reset_password}" method="post">
        <input type="hidden" name="token" th:value="${token}">
        <div>
            <label for="password">new password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="confirmPassword">confirm password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <div>
            <button type="submit">Reset password</button>
        </div>
    </form>
    <div th:if="${error != null}" class="error">
        <p th:text="${error}"></p>
    </div>
</div>
</body>
</html>
