<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
        function checkPasswordMatch(input) {
            const password = document.getElementById('password').value;
            const confirmPassword = input.value;
            if (password !== confirmPassword) {
                input.setCustomValidity("Passwords do not match.");
            } else {
                input.setCustomValidity("");
            }
        }
    </script>
</head>
<body>
<div class="container mt-5">
    <div>
        <h2>Reset Your Password</h2>
    </div>

    <form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
        <input type="hidden" name="token" th:value="${token}" />
        <div class="border border-secondary rounded p-3">
            <div>
                <p>
                    <input type="password" name="password" id="password" class="form-control"
                           placeholder="Enter your new password" required autofocus />
                </p>
                <p>
                    <input type="password" class="form-control" placeholder="Confirm your new password"
                           required oninput="checkPasswordMatch(this);" />
                </p>
                <p class="text-center">
                    <input type="submit" value="Change Password" class="btn btn-primary" />
                </p>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
